.button-actions-container {
    display: flex;
    justify-content: space-evenly;
    margin: 15px;
    width: 100%;
}

.tables-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    column-gap: 12px;
    padding: 0 15%;
    overflow-y: scroll;
    max-height: 30rem;
}
